/* Basic Styling */

html, body{
    background-color: #1B1E25;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation */

#awardSectionNav{
    background-color: #1B1E25;
    border: 0 #000000 solid;
    border-bottom: 1px #6F9BE4 solid;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

#awardSectionNav .awardSectionNavLink{
    font-size: 21px;
    letter-spacing: 1px;
    padding: 18px 30px;
}

#awardSectionNav .awardSectionNavLink a{
    color: #DCE6F2;
    text-decoration: none;
}

#awardSectionNav .awardSectionNavLink.awardSectionNavLinkActive a{
    color: #E8AA25;
    text-decoration: none;
}

/* Content Headers */
#contentContainer{
    margin: 0 auto;
    width: 768px;
}

#awardTitle{
    margin: 10px auto;
    width: 640px;
}

.headerIcon{
    width: inherit;
}

.awardSectionHeader{
    margin: 50px auto 0;
    width: 768px;
}

.awardSectionBlurb{
    color: #DCE6F2;
    margin: 10px auto;
    padding: 10px 80px;
}

.sectionIconContainer{
    margin: 0 auto;
    width: 160px;
}

.sectionIcon{
    width: inherit;
}

.sectionHeader{
    border: 0 #000000 solid;
    border-bottom: 1px #E8AA25 solid;
    color: #E8AA25;
    font-size: 42px;
    letter-spacing: 2px;
    padding: 0 0 16px;
    text-align: center;
}

/* Main Content */

.categoryHeader{
    color: #E8AA25;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

.categoryWinnerContainer{
    position: relative;
    display: flex;
    height: 384px;
}

.categoryWinnerContainer:after{
    pointer-events: none;
    position:absolute;
    outline: 8px solid #6F9BE4;
    outline-offset: -16px;
    z-index: 3000;

    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
}

.categoryWinnerItem{
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
}

.categoryNominationCards{
    display: flex;
    height: 132px;
    margin: 10px auto;
}

.categoryNominationItem{
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
}

.categoryItemImage{
    content: "";
    cursor: pointer;

    width: 100%;
    height: 100%;

    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;

    transform-origin: center;
    transition: all 300ms;

    /* z-index: -3000;*/
}

.categoryNominationItem:hover .categoryItemImage,
.categoryNominationItem:focus .categoryItemImage,
.categoryWinnerItem:hover .categoryItemImage,
.categoryWinnerItem:focus .categoryItemImage{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.categorySubHeadContainer{
    display: flex;
}

.categorySubHeadItem {
    flex-grow: 1;
    padding: 40px 16px;
    display: flex;
}

.categorySubHeadItemIcon {
    width: 104px;
}

.categorySubHeadItemIcon img{
    width: inherit;
}

.categorySubHeadItemText{
    flex-grow: 1;
    padding: 8px 16px;
}

.categorySubHeadItemTextTitle{
    height: 52px;
    font-size: 20px;
    color: #DCE6F2;
    font-weight: bolder;
}

.categorySubHeadItemTextSubTitle{
    font-weight: bolder;
    font-size: 16px;
    color: #E8AA25;
}

/* modal styles */

.modalMask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: table;
    transition: opacity .3s ease;
}

.modalWrapper {
    display: table-cell;
    vertical-align: middle;
}

.modalContainer {
    display: flex;
    flex-direction: row;
    width: 960px;
    height: 560px;
    margin: 0px auto;
    background: transparent no-repeat center/cover;
    background-size: 0;
    border-radius: 2px;
    border: #3A5E83 1px solid;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modalHeader {
    color: #DCE6F2;
    height: inherit;
}

.modalHeaderImage{
    content: "";
    height: inherit;
    width: 400px;
    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;
}

.modalBody {
    flex-grow: 1;
    color: #DCE6F2;
    padding: 30px;
    background: #191C23;

    scrollbar-width: thin;
    overflow: auto;
}

.modalBodyTitle{
    color: #DCE6F2;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.modalRankingContainer{
    display: flex;
    font-size: 14px;
    font-weight: 900;
    margin: 5px 0 20px;
}

.modalRankingJury, .modalRankingPublic{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.modalRankingJuryIcon, .modalRankingPublicIcon{
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-right: 4px;
    background: transparent no-repeat center/cover;
}

.modalRankingJuryIcon{
    background-image: url(../img/assets/jury.png);
}

.modalRankingPublicIcon{
    background-image: url(../img/assets/public.png);
}

/*
 * Slider Style
 */

.categorySwitchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.categorySwitchLabel{
    padding: 2px 8px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    color: #DCE6F2;
}

.categorySwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.categorySwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.categorySwitchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8AA25;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.categorySwitchSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #DCE6F2;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .categorySwitchSlider {
    background-color: #6F9BE4;
}

input:checked + .categorySwitchSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}