/* Basic Styling */

html, body{
    background-color: #1B1E25;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation */

#awardSectionNav{
    background-color: #1B1E25;
    border: 0 #000000 solid;
    border-bottom: 1px #6F9BE4 solid;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}

#awardSectionNav .awardSectionNavLink{
    font-size: 21px;
    letter-spacing: 1px;
    padding: 18px 30px;
}

#awardSectionNav .awardSectionNavLink a{
    color: #DCE6F2;
    text-decoration: none;
}

#awardSectionNav .awardSectionNavLink.awardSectionNavLinkActive a{
    color: #E8AA25;
    text-decoration: none;
}

/* Content Headers */
#contentContainer{
    margin: 0 auto;
    width: 768px;
}

#awardTitle{
    margin: 10px auto;
    width: 640px;
}

.headerIcon{
    width: inherit;
}

.awardSectionHeader{
    margin: 50px auto 0;
    width: 768px;
}

.awardSectionBlurb{
    color: #DCE6F2;
    margin: 10px auto;
    padding: 10px 80px;
}

.sectionIconContainer{
    margin: 0 auto;
    width: 160px;
}

.sectionIcon{
    width: inherit;
}

.sectionHeader{
    border: 0 #000000 solid;
    border-bottom: 1px #E8AA25 solid;
    color: #E8AA25;
    font-size: 42px;
    letter-spacing: 2px;
    padding: 0 0 16px;
    text-align: center;
}

/* Main Content */

.categoryHeader{
    color: #E8AA25;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
}

.categoryWinnerContainer{
    position: relative;
    display: flex;
    height: 384px;
}

.categoryWinnerContainer:after{
    pointer-events: none;
    position:absolute;
    outline: 8px solid #6F9BE4;
    outline-offset: -16px;
    z-index: 3000;

    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
}

.categoryWinnerItem{
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
}

.categoryNominationContainer{
    display: flex;
    height: 132px;
    margin: 10px auto;
}

.categoryNominationItem{
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
}

.categoryItemImage{
    content: "";

    width: 100%;
    height: 100%;

    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;

    transform-origin: center;
    transition: transform 300ms;

    z-index: -3000;
}

.categoryNominationItem:hover .categoryItemImage,
.categoryNominationItem:focus .categoryItemImage,
.categoryWinnerItem:hover .categoryItemImage,
.categoryWinnerItem:focus .categoryItemImage{
    transform: scale(1.1);
}

.categorySubHeadContainer{
    display: flex;
}

.categorySubHeadItem {
    flex-grow: 1;
    padding: 40px 16px;
    display: flex;
}

.categorySubHeadItemIcon {
    width: 104px;
}

.categorySubHeadItemIcon img{
    width: inherit;
}

.categorySubHeadItemText{
    flex-grow: 1;
    padding: 8px 16px;
}

.categorySubHeadItemTextTitle{
    height: 52px;
    font-size: 20px;
    color: #DCE6F2;
    font-weight: bolder;
}

.categorySubHeadItemTextSubTitle{
    font-weight: bolder;
    font-size: 16px;
    color: #E8AA25;
}

/* modal styles */

.modalMask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modalWrapper {
    display: table-cell;
    vertical-align: middle;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 640px;
    margin: 0px auto;
    background: transparent no-repeat center/cover;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
}

.modalHeader {
    color: #DCE6F2;
}

.modalHeaderImage{
    content: "";
    height: 144px;
    background: transparent no-repeat center/cover;
    margin: 0;
    padding: 0;
}

.modalBody {
    flex-grow: 1;
    color: #DCE6F2;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, .9);
}

.modalBodyTitle{
    color: #DCE6F2;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}